@model IEnumerable<School.Web.Models.DepartmentResponseModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Department List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  name = item.name  }) |
                    @Html.ActionLink("Details", "Details", new { name= item.name })

                </td>
            </tr>
        }
    </tbody>
</table>
